body {
	background-color: #252525;
	margin: 0 auto;
	margin-top: 5px;
}

div#genbox {
	margin-left: 15px;
	color: #dfded9;
	margin-bottom: 5px;
}

div#footer {
	color: #dfded9;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 10px;
}

button {
	margin-left: 15px;
}

canvas#display {
	border-color: #1af30f;
	border-style: solid;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}
